footer {
    background: #0e2041;
    background-size: cover;
    background-position: center center;
    color: black;
}

.footer-container {
    padding: 10px 10px 20px 10px;
}

.footer-container>h2,
label {
    text-transform: capitalize;
    font-size: 28px;
    margin: 10px 0 20px 0;
    color: var(--footer-color);
}

.footer-container p {
    text-align: justify;
    font-size: 16px;
    line-height: 25px;
    color: var(--footer-color);
}

.footer-container ul {
    list-style: none;
    padding: 0;
}

.links {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer-container ul li a {
    color: var(--footer-color);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    color: var(--footer-color);
}

.footer-container span {
    display: block;
    color: var(--footer-color);
    margin-bottom: 20px;
    text-transform: none;
    font-size: 16px;
    /* padding-left: 20px; */
}

.s-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    column-gap: 10px;
    flex-wrap: wrap;
    padding: 0;
}

.s-link li {
    background: #ffffff67;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.s-link i {
    padding: 13px;
    font-size: 37px;
    display: flex;
}

.padding {
    padding-left: 60px;
}



@media screen and (min-width:1000px) and (max-width:1300px) {
    .padding {
        padding: 15px 0;
    }

    .footer-container>h2,
    label {
        font-size: 25px;
    }
    .footer-container p {
        font-size: 14px;
    }
    .footer-container ul li a {
        font-size: 16px;
    }
    .s-link i {
        padding: 14px;
    }
}

@media screen and (max-width:960px) {
    .padding {
        padding: 0 15px;
    }

    .s-link {
        gap: 30px;
    }

    .footer-container {
        padding-bottom: 40px;
    }
}