header{
    position: fixed;
    left: 0;
    right: 0;
    color: var(--header-color);
    background: var(--header-bg);
    backdrop-filter: blur(15px);
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
.logo-container{
    padding: 10px 0;
}
.logo-container img{
    height: 50px;
    filter: invert(1);
}
@media screen and (max-width:950px){
    .logo-container img{
        height: 30px;
    }
}
