header {
    position: fixed;
    left: 0;
    right: 0;
    color: var(--h-color);
    background: var(--h-bg);
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.logo-container {
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-img-container {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    height: 100%;
}

.logo-img-container img.logo-2{
    display: none;
}

@media screen and (max-width:950px) {
    .logo-container {
        padding: 5px 0;
        gap: 8px;
        justify-content: space-between;
    }

    .logo-img-container {
        width:fit-content;
        border-radius: 0%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-img-container img.logo-1{
        display: none;
    }

    .logo-img-container img.logo-2{
        display: block;
        height: 30px;
        width: 150px;
        margin-top: 5px;
        filter: var(--l-f-i);
    }
}