.navigation {
    display: flex;
    padding: 0 10px;
}

.navigation ul {
    display: flex;
    list-style: none;
    column-gap: 15px;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    display: flex;
    align-items: center;
    position: relative;
}

.navigation ul li a {
    padding: 10px 8px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    color: var(--header-color);
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}
.navigation ul li a i{
    display: none;
}

.navigation ul li i {
    color: var(--header-color);
    font-size: clamp(15px, 4vw, 20px);
    transition: transform .2s ease-in-out;

}

.navigation ul li:focus-within>i,
.navigation ul li:hover>i {
    transform: rotate(90deg);
}

.navigation ul ul {
    position: absolute;
    left: 0;
    top: 100%;
    flex-direction: column;
    display: none;
    padding: 0 10px;
    background: var(--nav-ul-ul-bg);
}

.navigation ul ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
}

.navigation ul li:focus-within>ul,
.navigation ul li:hover>ul {
    display: block;
}
.navigation-dropedown{
    display: none;
    font-size: 30px;
}




@media screen and (max-width:1200px) {
    .navigation ul {
        column-gap: 3px;
    }

    .navigation ul li a {
        font-size: 15px;
    }

}
@media screen and (max-width:950px){
    .navigation{
        position: fixed;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgb(2, 54, 54);
        height: 100vh;
        width: 0%;
        padding: 0;
    }
    .navigation.open{
        width: 45%;
    }
    .navigation ul{
        width: 100%;
        flex-direction: column;
    }
    .navigation ul li{
        display: block;
        position: static;
        flex-direction: column;
        align-items: flex-start;
    }
    .navigation ul li a{
        padding: 18px 16px;
        justify-content: space-between;
    }
    .navigation ul li a:hover{
        background-color: #006eff;
    }
    .navigation ul li a i{
        display: block;
    }
    .navigation ul li i{
        display: none;
    }
    .navigation ul ul{
        position: static;
        padding: 0;
    }
    .navigation ul ul ul{
        position: static;
    }
    .navigation-dropedown{
        display: flex;
    }
}