*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --header-color: #ffffff;
    --header-bg: #ffffff2c;
    --nav-ul-ul-bg: #1d1010e3;
    --search-input-bg: #06245c91;
    --profile-bg: rgba(0, 102, 255, 0.37);
    --header-hover-color: orange;
}