*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    --header-color: #ffffff;
    --header-bg: #ffffff2c;
    --nav-ul-ul-bg: #000000a1;
    --search-input-bg: #06245c91;
    --profile-bg: #3a3a3a83;
    --header-hover-color: orange;
    --res-nav-bg: #042449d8;
    --res-nav-a-bg: #8c00ff;



    --footer-color: #ffffff;
}