.search-theme-profile {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.search {
    display: flex;
}

.search .search-icon {
    border: none;
    outline: none;
    display: flex;
    background: transparent;
}

.search .search-icon i {
    font-size: 30px;
    color: var(--header-color);
}

.search-input {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    background: var(--search-input-bg);
    display: none;
}

.search-input input {
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    background: transparent;
    width: 100%;
    height: 55px;
    padding: 0 15px;
    color: var(--header-color);
    font-size: 20px;
    position: relative;
}
.search-input input[type='text']{
    padding-right: 70px;
}
.search-input:focus-within input{
    border-color: #ff5e00;
}
.search-input .reset{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    width: 60px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 45px;
    line-height: 10px;
    overflow: hidden;
    transition: all .1s ease-in-out;
}
.search-input .reset:active{
    font-size: 35px;
}
.search-icon:focus-within>.search-input{
    display: block;
}


.search-input input::placeholder {
    color: var(--header-color);
    text-transform: capitalize;
}




/* ===== PROFILE ===== */




.profile {
    display: flex;
    padding: 0 10px 0 0;
    border-radius: 8px;
    background: var(--profile-bg);
}

.profile .profile-img-container {
    height: 65px;
    width: 65px;
    padding: 5px;
    overflow: hidden;
}

.profile-img-container img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.profile-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
}






@media screen and (max-width:1200px) {
.search .search-icon i {
    font-size: 25px;
}
.search-input input {
    height: 40px;
    font-size: 15px;
}


.profile .profile-img-container {
    height: 50px;
    width: 50px;
}
.profile-text-container {
    font-size: 11px;
}

}
@media screen and (max-width:950px) {

}